- form_for @<%= singular_name %> do |f|
  = f.error_messages
  - f.fieldset do
    <%- for attribute in attributes -%>
    - f.field :<%= attribute.name %>
    <%- end -%>
    - f.field do
      %label &nbsp;
      = f.submit t(:submit)
