- title t(:title, :model => <%= class_name %>.human_name)

<%= render_form :object_path %>

<%- if actions? :show, :index -%>
%ol.actions
  <%- if action? :show -%>
  %li.show= link_to t(:show), object_path
  <%- end -%>
  <%- if action? :index -%>
  %li.index= link_to t(:index), collection_path
  <%- end -%>
<%- end -%>
