- title t(:title, :model => <%= class_name %>.human_name)

<%- if actions? :show -%>
%ol.actions
  %li.show= link_to t(:show), object_path
<%- end -%>

<%= render_form :object_path %>

<%- if action? :destroy -%>
%ol.actions
  %li.destroy= link_to(t(:destroy), object_path, :confirm => h(t(:confirm)), :method => :delete)
<%- end -%>
