- title t(:title, :model => <%= class_name %>.human_name)

<%- if actions? :new -%>
%ol.actions
  %li.new= link_to t(:new), new_object_path
<%- end -%>

- table_for @<%= plural_name %> do |t|
  - t.head do
    <%- for attribute in attributes -%>
    - t.th :<%= attribute.name %>
    <%- end -%>
    - t.th t("action"), :colspan => <%= table_link_count %>
  - unless will_paginate(@<%= plural_name %>).blank?
    - t.foot do
      - t.tr do
        - t.td will_paginate(@<%= plural_name %>), :colspan => t.width
  - t.body do |<%= singular_name %>|
    - t.tr do
      <%- for attribute in attributes -%>
      - t.td_h :<%= attribute.name %>
      <%- end -%>
      <%- if action? :show -%>
      - t.td link_to(t(:show), object_path(<%= singular_name %>))
      <%- end -%>


