- title t(:title, :model => <%= class_name %>.human_name)

<%= render_form %>

<%- if action? :index -%>
%ol.actions
  %li.cancel= link_to t(:cancel), <%= plural_name %>_path, :confirm => h(t(:confirm))
  <%- end -%>
