- title t(:title, :model => <%= class_name %>.human_name)

- definition_list_for @<%= singular_name %> do |dl|
  <%- for attribute in attributes -%>
  - dl.show_h :<%= attribute.name %>
  <%- end -%>

%ol.actions
  <%- if action? :edit -%>
  %li.edit= link_to t(:edit), edit_<%= singular_name %>_path(@<%= singular_name %>)
  <%- end -%>
  <%- if action? :destroy -%>
  %li.destroy= link_to t(:destroy), <%= singular_name %>_path(@<%= singular_name %>), :confirm => h(t(:confirm)), :method => :delete
  <%- end -%>
  <%- if action? :index -%>
  %li.index= link_to t(:index), <%= plural_name %>_path
  <%- end -%>
