<%% title "Edit <%= singular_name.titleize %>" %>

<%- if actions? :show -%>
<p>
  <%%= link_to "Show", @<%= singular_name %> %> |
</p>
<%- end -%>

<%= render_form %>

<%- if actions? :delete -%>
<p>
  <%%= link_to(t(:destroy), object_path(<%= singular_name %>), :confirm => h(t(:confirm)), :method => :delete) %> |
</p>
<%- end -%>
